body{
	margin: 0;
}

#container{
	min-width: calc(100vw);
	min-height: calc(100vh);
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-content: space-around;
}

.pumpkin{
	background-image: url('../imgs/pumpkin.png');
	width: 50px;
	height: 50px;
	background-size: 50px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.row{
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.candy{
	width: 50px;
	height: 50px;
	position: relative;
	z-index: -1;
}